.TableCard {
    border: 1px solid black;
}
.TableCard thead {
    background-color:plum;
}
.TableCard th {
    width: 15%;
    height: 4em;
    border: 1px solid black;
}
.TableCard td {
    height: 4em;
    border: 1px solid black;
}
.YourCard h2 {
    margin-top: 1em;
}
.ImgCard {
    width: 50%;
    border: 1px solid black;
}
.Increase {
    width: 5%;
    height: 1.5em;
    text-align: center;
    margin: 0 2% 0 2%;
    background-color: green;
    border: none;
}
.Decrease {
    width: 5%;
    height: 1.5em;
    text-align: center;
    margin: 0 2% 0 2%;
    background-color: red;
    border: none;
}
.Increase {
    padding: 0.3em 0 0 2%;
    width: 9%;
}
.Increase p {
    font-size: 150%;
    margin: -0.55em 0 0 -20%;
}
.Decrease {
    padding: 0.3em 0 0 2%;
    width: 9%;
}
.Decrease p {
    font-size: 150%;
    margin: -0.55em 0 0 -20%;
}
.View {
    margin: 0 3% 0 0;
    background-color: blue;
    border: none;
}
.Delete {
    margin: 0 0 0 0;
    background-color:red;
    border: none;
}
