<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">LuânIT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Card</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
    <div class="tab-pane fade YourCard" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <h2>Your Card</h2>
        <table class="TableCard">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quality</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let a of MyCard'>
                <th scope="col">{{a.ID}}</th>
                <th scope="col"><img src="assets\{{a.Img}}" class="ImgCard"></th>
                <th scope="col">{{a.Name}}</th>
                <th scope="col">{{a.Price}}</th>
                <th scope="col">{{a.Quality}}<button type="button" class="btn btn-primary Up" (click) = 'Up(a.ID)'><p>+</p></button><button type="button" class="btn btn-primary Down" (click) = 'Down(a.ID)'><p>-</p></button></th>
                <th scope="col"><button type="button" class="btn btn-primary View">View</button><button type="button" class="btn btn-primary Delete">Delete</button></th>
              </tr>
            </tbody>
        </table>
    </div>
  </div>