.Table{
    border: 1px solid #dddddd;
}
.Tablethead {
    background-color:plum;
}
.Table th {
    width: 15%;
    height: 4em;
    border: 1px solid #dddddd;
}
.Tabletd {
    height: 4em;
    border: 1px solid #dddddd;
}
td, th {
    text-align: center;   
    vertical-align: 0px;
}
th {
    padding: 10px;

}
.image {
    width: 105px; 
    height:70px;
    padding-left: 22px;
}