

.product img {
    width: 100%;
}

.text {
    margin-bottom:3px;
    color:lightcoral;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt{
    color: black;
}
.name {
    color: chocolate;
    margin-bottom: 15px;
}
.bt{
    padding-top:5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color:white;
    font-size: 35px;
    border: 2px solid chocolate;
    height: 200%;
    padding-left: 20px;
  }
  
  nav {
    float: left;
    width: 20%;
    padding: 20px;
  }
  nav a {
    padding-left: 10px;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: white;
  }
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: white;
    padding: 10px;
    text-align: right;
    border: 2px solid chocolate;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  .link {
    color:rgb(30, 138, 210);
  }

  .title {
    color:rgb(221, 66, 113);
  }
  