<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Student</a></li>
            <li class="breadcrumb-item active" aria-current="page" id="title"></li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">
            <i class='fas fa-table'></i> Detail
        </div>
        <div class="card-body">
            <p>Last Name</p>
            <p ID = "lastname"></p>
            <p>First Name</p>
            <p ID = "firstname"></p>
            <p>EnrollDate</p>
            <p ID = "Enrolldate"></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chemistry</td>
                        <td>65</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Macroeconomics</td>
                        <td>67</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Macroeconomics</td>
                        <td>66</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>