<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInput">Chiều dài</label>
            <input type="number" [(ngModel)]="hcn.cd" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div class="form-group">
        <label for="exampleInput">Chiều rộng</label>
        <input type="number" [(ngModel)]="hcn.cr" [ngModelOptions]="{standalone: true}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInput">Diện tích</label>
            <input type="number" [(ngModel)]="hcn.dt" [ngModelOptions]="{standalone: true}" class="form-control" >
        </div>
        <div class="form-group">
            <label for="exampleInput">Chu vi</label>
            <input type="number" [(ngModel)]="hcn.cv" [ngModelOptions]="{standalone: true}" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary" (click) ="Tinh()">Tính</button>
    </form>
</div>
